<form [formGroup]="countryForm">
  <label>Select a country: </label>
  <select formControlName="country" (change)="selectCountry()">
    <option *ngFor="let country of countriesArray" value="{{ country.name }}">
      {{ country.name }}
    </option>
  </select>
  <p *ngIf="!countriesArray">Waiting for API data...</p>
</form>

<div *ngIf="countryData && validData" class="data-container">
  <div>
    <p>Population</p>
    <p>{{ countryData.population }}</p>
  </div>
  <div>
    <p>Latest information update</p>
    <p>{{ countryData.updated_at }}</p>
  </div>
  <div>
    <p>Death rate</p>
    <p>{{ countryData.latest_data.calculated.death_rate }}</p>
  </div>
  <div>
    <p>Recovery rate</p>
    <p>{{ countryData.latest_data.calculated.recovery_rate }}</p>
  </div>
  <div>
    <p>Cases per million population</p>
    <p>{{ countryData.latest_data.calculated.cases_per_million_population }}</p>
  </div>
  <div>
    <p>Total number of cases</p>
    <p>{{ countryData.latest_data.confirmed }}</p>
  </div>
  <div>
    <p>Number of current date cases</p>
    <p>{{ countryData.today.confirmed }}</p>
  </div>
  <div>
    <p>Total number of death</p>
    <p>{{ countryData.latest_data.deaths }}</p>
  </div>
  <div>
    <p>The number of deaths of the current date</p>
    <p>{{ countryData.today.deaths }}</p>
  </div>
  <div>
    <p>Total number of recoveries</p>
    <p>{{ countryData.latest_data.recovered }}</p>
  </div>
</div>

<div class="chartData" *ngIf="validData">
  <div class="container">
    <div echarts [options]="option" class="chart"></div>
    <div echarts [options]="barChart" class="chart"></div>
  </div>
  <div *ngIf="fullData" class="buttons">
    <app-button
      text="Show full data"
      [style]="'green'"
      (click)="showFullData()"
    ></app-button>
    <app-button
      text="Show monthly data"
      [style]="'yellow'"
      (click)="showMonthlyData()"
    ></app-button>
  </div>
</div>
