form {
  text-align: center;
}

select {
  height: 30px;
  font-size: 17px;
}

.container {
  display: flex;
  width: 100%;
}

.chart {
  width: 50%;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  gap: 1%;
  padding-bottom: 50px;
}

.chartData {
  margin-top: 80px;
}
